<header>
    <div class="bg" id="header-bg"></div>
    <div class="logo">
        <a [routerLink]="['/']" ><img src="assets/imgs/logo.png" alt=""></a>
        <!-- <a [routerLink]="['/']" ><h1>vulpis</h1></a> -->
    </div>
    <div class="tabs">
        <div class="func">
            <div >
                <a routerLink="about">about</a>
                <hr>
            </div>
            <div>
                <a routerLink="gallery">gallery</a>
                <hr>
            </div>
            <div>
                <a routerLink="sales">e-shop</a>
                <hr>
            </div>
        </div>
        <div class="user-func">
            <div>
                <p>login</p>
                <hr>
            </div>
            <p>/</p>
            <div>
                <p>signin</p>
                <hr>
            </div>
        </div>
    </div>
</header>