<footer class="row-between al-end">
    <div class="col-between" id="col-1">
        <div class="text">
            <p>Have you reached this point? Thank you very much for your trust. Here you will see a map from where the products will be sent</p>
        </div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2033.5980471366736!2d26.977981542121302!3d59.35635719102943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46947f52a5f338d3%3A0x5940114a6b9b30b!2sKeskpuiestee%2039%2C%20Kivi%C3%B5li%2C%2043124%20Ida-Viru%20maakond!5e0!3m2!1sru!2see!4v1704202014078!5m2!1sru!2see"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="row-center">

        </div>
    </div>
    <div class="col-between" id="col-2">
        <p>Mpre Inf.</p>
    </div>
    <div class="col-between" id="col-3">
        <p>More Inf.</p>
    </div>
    <div class="dev row-start al-center">
        <hr>
        <p>Developer - MiFista</p>
        <div class="dev-social row-around">
            <p>Socials media:</p>
            <a href="https://mifista.itch.io/" target="_blank">
                <picture>
                    <source srcset="assets/imgs/dev/avif/itch.avif" type="image/avif">
                    <source srcset="assets/imgs/dev/webp/itch.webp" type="image/webp">
                    <img src="assets/imgs/dev/png/itch.png" alt="" >
                </picture>
            </a>
            <a href="https://github.com/MiFista01" target="_blank">
                <picture>
                    <source srcset="assets/imgs/dev/avif/github-white.avif" type="image/avif">
                    <source srcset="assets/imgs/dev/webp/github-white.webp" type="image/webp">
                    <img src="assets/imgs/dev/png/github-white.png" alt="" >
                </picture>
            </a>
            <a href="https://vk.com/aleks3001" target="_blank">
                <picture>
                    <source srcset="assets/imgs/dev/avif/vk.avif" type="image/avif">
                    <source srcset="assets/imgs/dev/webp/vk.webp" type="image/webp">
                    <img src="assets/imgs/dev/png/vk.png" alt="" >
                </picture>
            </a>
        </div>
    </div>
</footer>