<div class="swiper" id="wrapper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <section id="about">
                <div class="bg">
                    <picture>
                        <source srcset="/assets/imgs/about/back/avif/1.avif" type="image/avif">
                        <source srcset="/assets/imgs/about/back/webp/1.avif" type="image/webp">
                        <img src="/assets/imgs/about/back/jpg/1.jpg" alt="">
                    </picture>
                </div>
                <article class="about">
                    <div class="swiper" id="about-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide first row-between al-center">
                                <img src="./assets/imgs/about/img/first.jpg" alt="">
                                <div class="des">
                                    <header>
                                        <h3>About Us</h3>
                                        <h4>Welcome to the world of creative custom rugs!</h4>
                                    </header>
                                    <p>My wife and I are a team dedicated to crafting unique and personalized rugs on various themes. Our passion for creativity and design inspired us to establish our own project, where we are ready to bring your ideas and suggestions to life in something amazing and original.</p>
                                </div>
                            </div>
                            <div class="swiper-slide second row-between al-center">
                                <img src="./assets/imgs/about/img/second.jpg" alt="">
                                <div class="des">
                                    <header>
                                        <h3>Our Story</h3>
                                        <h4>Finding inspiration in every detail</h4>
                                    </header>
                                    <p>So why did my wife and I choose to embark on the journey of creating rugs? It's more than just a business for us; it's our passion and a way to share creativity with the world.
                                        <br>
                                        We believe that even small details can create an amazing atmosphere in a home. This is more than a business for us; it's our calling.
                                        <br>
                                        Every rug we create is a unique story that we build together with you. We want every customer to feel that their home is not just a place but a space filled with warmth, comfort, and individuality.</p>
                                </div>
                            </div>
                        </div>
                    </div>    
                </article>
            </section>
        </div>
        <div class="swiper-slide">
            <app-footer></app-footer>
        </div>
    </div>
</div>
