<div class="category-container">
    <article class="category">
        <div class="rotate-bg">
            <div class="rotate-bg-animate">
                <div class="rotate-bg-part"></div>
                <div class="rotate-bg-part"></div>
                <div class="rotate-bg-part"></div>
                <div class="rotate-bg-part"></div>
            </div>
        </div>
        <div class="category-content">
            <div class="category-img" [style.background-image]="'url('+ imageUrl+')'"></div>
            <div class="category-text">
                <header>
                    <h3>{{header}}</h3>
                </header>
                <p class="category-des">{{des}}</p>
            </div>
            <a href="about">see gategory</a>
        </div>
    </article>
</div>